<% provide(:title, "Edit City") %>
<h1>Update The City</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @city do |f| %>
     <div class="form-group">
       <%= f.label :name %>
       <%= f.text_field :name, class: 'form-control' %>
     </div>
      <div class="">
        <%= f.label :country_name %>
        <%= f.text_field :country_name, class: 'form-control' %>
      </div>
      <div class="">
        <%= f.label :time_zone %>
        <%= f.text_field :time_zone, class: 'form-control' %>
      </div>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
